
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd" >
<suite name="ParallelTestSuite" parallel="methods" thread-count="3">
    <test name="ParallelTests">
        <classes>
            <class name="tests.loginTest"/>
             <class name="tests.loginTest2"/>
        </classes>
    </test>
</suite>